<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style-forms.css')}}">
</head>

<body>
<div id="container">
    <div class="card" id="card-message">
        {% if success == True %}
        <h2>The author has been added successfully</h2>
        {% endif %}
        {% if success == False %}
        <h2>Unable to add the author</h2>
        {% endif %}
    </div>
    <div class="card" id="card-form">
        <form class="add_book_form" id="author_form" action="/add_author"
              method="POST">
            <div class="child-form-add-book">
                <label for="name">Author Name:</label>
                <input type="text" id="name" name="name">
            </div>
            <div class="child-form-add-book">
                <label for="birthdate">Birthdate:</label>
                <input type="date" id="birthdate"
                       name="birthdate">
            </div>
            <div class="child-form-add-book">
                <label for="date_of_death">Date of Death:</label>
                <input type="date" id="date_of_death"
                       name="date_of_death">
            </div>

            <div class="child-form-add-book">
                <button type="submit" form="author_form" value="Submit">Add
                    Book
                </button>
            </div>
        </form>
    </div>
    <div class='child-form-add-book'>
        <input type="button"
               onclick="location.href='/'"
               value="Back to Home"/>
    </div>
</div>
</body>
</html>